body{
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(130, 128, 128, 0.7), rgba(130, 128, 128,0.15)), url(images/shutterstock_1388850557_2.jpg) center/cover no-repeat;
    padding: 0px 0px;
    margin: 0px 0px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
.container{
    display: block;
    margin: auto auto;
    position: relative;
    width: 100%;
}
.header{
    position: relative;
    text-align: center; 
    padding: 15px 20px;
}
.header h1{
    font-weight: 500;
}
.header p{
    font-style: italic;
    font-weight: 300;
}
.survey-form{
    position: relative;
    display: block;
    margin: auto auto;
    padding: 40px 30px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7));
}
.form-group{
    position: relative;
    display: block;
    margin: auto auto;
    margin-bottom: 20px;
}
label{
    display: inline-block;
    margin: 0px 0px 10px 0px;
    font-size: 1.2rem;

}
p{
    margin: 0px 0px 10px 0px;
    font-size: 1.2rem;
}
span{
    font-size: 13px;
}
input[type="email"], input[type="text"], input[type="number"]{
    width: 98%;
    height: 28px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px 5px;
    text-indent: 5px;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
    margin: 0px 0px 0px 0px;
}
textarea{
    display: block;
    width: 98%;
    height: 100px;
    margin-bottom: 20px;
}
button[type="submit"]{
    width: 100%;
    height: 35px;
    border-radius: 5px 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(65, 227, 43);
    border: rgb(65, 227, 43);
    font-size: 15px;
}
button[type="submit"]:hover{
    cursor: pointer;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0px 10px 5px 0px;
    padding: 5px 5px;
    
}
select{
    width: 100%;
    height: 35px;
    border-radius: 5px 5px;
    text-indent: 5px;
}
@media screen and (min-width: 500px){
    .container{
       width: 80%;
    }
}
@media screen and (min-width: 700px){
    .container{
       width: 75%
    }
}
@media screen and (min-width: 900px){
    .container{
       width: 50%;
    }
}
@media screen and (min-width: 1200px){
    .container{
       width: 45%;
    }
   
}


